## Aula 01 - Dados Textuais: classificação e exploração.

In [0]:
import pandas as pd

resenha1 = pd.read_csv("https://raw.githubusercontent.com/chrisabovo/machine-learning-study/master/03-introducao-ao-pln-com-python/imdb-reviews-pt-br-partial1.csv")
resenha2 = pd.read_csv("https://raw.githubusercontent.com/chrisabovo/machine-learning-study/master/03-introducao-ao-pln-com-python/imdb-reviews-pt-br-partial2.csv")
resenha3 = pd.read_csv("https://raw.githubusercontent.com/chrisabovo/machine-learning-study/master/03-introducao-ao-pln-com-python/imdb-reviews-pt-br-partial3.csv")
resenha4 = pd.read_csv("https://raw.githubusercontent.com/chrisabovo/machine-learning-study/master/03-introducao-ao-pln-com-python/imdb-reviews-pt-br-partial4.csv")
resenha5 = pd.read_csv("https://raw.githubusercontent.com/chrisabovo/machine-learning-study/master/03-introducao-ao-pln-com-python/imdb-reviews-pt-br-partial5.csv")

In [54]:
resenha = pd.concat([resenha1, resenha2, resenha3, resenha4, resenha5], ignore_index=True)

resenha.head()
#resenha[9990:10050]
#resenha.tail()

   id  ... sentiment
0   1  ...       neg
1   2  ...       neg
2   3  ...       neg
3   4  ...       neg
4   5  ...       neg

[5 rows x 4 columns]

In [0]:
from sklearn.model_selection import train_test_split

treino, teste, classe_treino, classe_teste = train_test_split(resenha.text_pt,
                                                              resenha.sentiment,
                                                              random_state = 42)

In [56]:
treino

classe_treino

1348     neg
27466    neg
29998    neg
48186    pos
26473    neg
38719    pos
16026    pos
18109    pos
4387     neg
15143    pos
46304    pos
30968    neg
19713    pos
3639     neg
49283    pos
24725    pos
26476    neg
10963    neg
42035    pos
45238    pos
16504    pos
1113     neg
15458    pos
23810    pos
21393    pos
38079    pos
43454    pos
32582    neg
42198    pos
11082    neg
        ...
189      neg
2747     neg
18431    pos
18942    pos
25658    neg
41434    pos
27480    neg
6396     neg
28693    neg
19769    pos
17568    pos
39188    pos
37819    pos
5311     neg
2433     neg
769      neg
1685     neg
41090    pos
16023    pos
44131    pos
47191    pos
21962    pos
37194    pos
16850    pos
6265     neg
11284    neg
44732    pos
38158    pos
860      neg
15795    pos
Name: sentiment, Length: 37094, dtype: object

In [0]:
from sklearn.linear_model import LogisticRegression

regressao_logistica = LogisticRegression(solver='lbfgs')
regressao_logistica.fit(treino, classe_treino)
acuracia = regressao_logistica.score(teste, classe_teste)
print(acuracia)

In [58]:
print("Negativa \n")
print(resenha.text_pt[189])

Negativa

Este é sem dúvida o pior filme que eu já vi. E acredite em mim, eu vi muitos filmes. A reviravolta inacreditável que o filme faz - passando de um extremamente mau filme "Formas de vida alienígenas habitam a terra", com um filme que tenta espalhar um arquicristiano "O dia do julgamento está próximo, buscar Jesus ou queimar por toda a eternidade em as dívidas ardentes do inferno "mensagem - deixou-me atordoado depois de ter sido atormentado por 85 minutos. Até mesmo os cristãos religiosos devem se envergonhar ou ficar furiosos ao ver suas crenças postadas dessa maneira. Eu não sabia o que fazer comigo quando assisti a atuação horrível que poderia ter sido realizada por crianças de 7 anos de idade. Simplesmente repugnante. Eu não sou cristão nem muito religioso. Mas se eu estivesse, não teria mais medo do Inferno. Rich Christiano mostrou ser algo muito pior.

In [60]:
print("Positivo \n")
print(resenha.text_pt[49002])

Positivo

Crescendo em Nova York no final dos anos 80 e início dos anos 90, posso dizer pessoalmente que este é um dos documentários mais importantes feitos para cobrir esse lugar neste período de tempo. Não Madonna não veio com a idéia de Voguing, mas é de onde ela tirou! Em vez de combater a violência uns dos outros ou em brigas de gato, o voguing permitia que as pessoas "lutassem" dentro dos confins de tudo, menos que tocassem umas às outras, o que justificaria uma desqualificação automática. Vendo este tipo de extraordinariamente talentosas / bem orquestradas "jogadas" nos clubes foi nada menos do que espetacular e todos os grandes nomes de antigamente estão aqui ... Pepper La Beija, Paris Duprée, Xtragavaganza, etc. ..tudo comemorado nos gostos de peças de época como a música de Malcom McLarens "Deep in Vogue" ... não importava quem você era, ou de onde você era porque quando você passava por aquelas portas nesse "reino mágico" de De certa forma, você se tornou parte de algo maior que você / você era importante / e, o mais importante, a criação de seus próprios movimentos e imaginação ... e qualquer pessoa de qualquer lugar poderia se tornar Rei ou Rainha como poderia ter sido. As palavras e inteligência eram tão afiadas quanto os movimentos no chão. Toda a tensão, excitação e magia dessa energia urbana de NYC é capturada neste filme. BRILHANTE!!! POR FAVOR, LIBERE EM DVD para o mundo ver !!! Obrigado!

In [61]:
print(resenha.sentiment.value_counts())

neg    24765
pos    24694
Name: sentiment, dtype: int64

In [62]:
resenha.head()

   id  ... sentiment
0   1  ...       neg
1   2  ...       neg
2   3  ...       neg
3   4  ...       neg
4   5  ...       neg

[5 rows x 4 columns]

In [0]:
classificacao = resenha["sentiment"].replace(["neg", "pos"], [0,1])

In [0]:
resenha["classificacao"] = classificacao

In [65]:
resenha.head()

   id  ... classificacao
0   1  ...             0
1   2  ...             0
2   3  ...             0
3   4  ...             0
4   5  ...             0

[5 rows x 5 columns]

In [66]:
resenha.tail()

          id  ... classificacao
49454  49456  ...             1
49455  49457  ...             1
49456  49458  ...             1
49457  49459  ...             1
49458  49460  ...             1

[5 rows x 5 columns]