In [9]:
import pandas as pd

filmes = pd.read_csv("movies.csv")
filmes.columns = ["filmeId", "titulo", "generos"]
filmes = filmes.set_index("filmeId")
filmes.head()

,titulo,generos
filmeId,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,Jumanji (1995),Adventure|Children|Fantasy
3,Grumpier Old Men (1995),Comedy|Romance
4,Waiting to Exhale (1995),Comedy|Drama|Romance
5,Father of the Bride Part II (1995),Comedy

In [4]:
notas = pd.read_csv("ratings.csv")
notas.columns = ["usuarioId", "filmeId", "nota", "momento"]
notas.head()

   usuarioId  filmeId  nota     momento
0          1      307   3.5  1256677221
1          1      481   3.5  1256677456
2          1     1091   1.5  1256677471
3          1     1257   4.5  1256677460
4          1     1449   4.5  1256677264

In [5]:
notas.describe()

           usuarioId        filmeId           nota       momento
count  492743.000000  492743.000000  492743.000000  4.927430e+05
mean     2481.021307   19148.468963       3.521933  1.191202e+09
std      1453.661262   36210.993514       1.062460  2.159963e+08
min         1.000000       1.000000       0.500000  8.256384e+08
25%      1200.000000    1090.000000       3.000000  1.001242e+09
50%      2428.000000    2719.000000       3.500000  1.171580e+09
75%      3791.000000    7215.500000       4.000000  1.418069e+09
max      4998.000000  193861.000000       5.000000  1.537927e+09

# Primeira tentativa de recomendação

In [11]:
total_de_votos = notas["filmeId"].value_counts()
total_de_votos.head()

318     1739
356     1698
296     1628
593     1564
2571    1437
Name: filmeId, dtype: int64

In [12]:
filmes['total_de_votos'] = total_de_votos
filmes.head()

,titulo,generos,total_de_votos
filmeId,,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1212.0
2,Jumanji (1995),Adventure|Children|Fantasy,467.0
3,Grumpier Old Men (1995),Comedy|Romance,287.0
4,Waiting to Exhale (1995),Comedy|Drama|Romance,62.0
5,Father of the Bride Part II (1995),Comedy,275.0

In [15]:
filmes.sort_values("total_de_votos", ascending = False).head()

,titulo,generos,total_de_votos
filmeId,,,
318,"Shawshank Redemption, The (1994)",Crime|Drama,1739.0
356,Forrest Gump (1994),Comedy|Drama|Romance|War,1698.0
296,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,1628.0
593,"Silence of the Lambs, The (1991)",Crime|Horror|Thriller,1564.0
2571,"Matrix, The (1999)",Action|Sci-Fi|Thriller,1437.0